<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ContosoFinancialServicesStart" Publisher="CN=sudutta" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ContosoFinancialServices</DisplayName>
    <PublisherDisplayName>sudutta</PublisherDisplayName>
    <Logo>Assets\Tile_50x50.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ContosoFinancialServices.App">
      <m2:VisualElements DisplayName="Contoso Financial Services Start" Square150x150Logo="Assets\Tile_150X150.png" Square30x30Logo="Assets\SearchLogo.png" Description="ContosoFinancialServices" ForegroundText="light" BackgroundColor="#324A8A">
        <m2:DefaultTile Wide310x150Logo="Assets\Tile_310X150.png" Square70x70Logo="Assets\Tile_70X70.png" Square310x310Logo="Assets\Tile_310X310.png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#324A8A" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>